@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: sheenline;
  src: url("../src/style/sheenline.ttf");
  font-weight: lighter;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./img/bg_drawings.png") repeat-y;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
}

.fa-icon {
  color: #525252;
}

.back-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 16px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Welcome page*/

.entry-wrapper {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  background: url("./img/foondo_home_bg_mobile.png") no-repeat;
  background-size: 435px;
}

.entry-wrapper h1 {
  font-family: sheenline;
  font-size: 100px;
  margin: 0;
  color: #525252;
  padding-bottom: 10px;
}


.default-button {
  background-color:  #af4733;
  color: #fff;
  text-decoration: none;
  margin: 5px auto;
  padding: 5px 0;
  min-width: 200px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 16px;
}

.default-button:hover {
  cursor: pointer;
  background-color: #5f2013 ;
}

.default-button-hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.default-button-hover:hover {
  background-color: #af4733;
  color: white;
  border: 1px solid #af4733;
}

.entry-button {
  background-color: white;
  color: #af4733;
  text-decoration: none;
  margin: 5px auto;
  padding: 5px 0;
  min-width: 200px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
}

.entry-button:hover {
  cursor: pointer;
}

.entry-button-hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.entry-button-hover:hover {
  background-color: #af4733;
  color: white;
  border: 1px solid #af4733;
}

/* Login */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  padding-bottom: 330px;
}

.login-title {
  color: #af4733;
  font-size: 25px;
}

.login-form-input {
  font-size: 16px;
  text-align: center;
  border: 1px solid lightgrey;
}

.entry-button:focus {
  outline: none !important;
  border: 1px solid #af4733;
}

.login-form-button {
  font-size: 16px;
  background-color: #af4733;
  color: white;
  border: 1px solid #af4733;
}

.redirect-link {
  color: #af4733;
  cursor: pointer;
}

/* Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  /* left: 300px; */
  right: 40px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #bbb;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ae4433;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

/* Home */
.wrapper {
  display: flex;
  margin-top: auto;
  flex-direction: column;
}

.home_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  justify-content: space-between;
  margin-top: 80px;
}

.home_wrapper a {
  min-width: 100%;
  height: 100px;
}

.header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 11px -7px lightgrey;
  background-color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header h1 {
  color: #525252;
  font-size: 50px;
  font-family: sheenline;
  margin: 10px 0px;
}

.link a {
  text-decoration: none;
  color: white;
}

.link-ingredients {
  background: url("./img/ingredients.png") no-repeat;
  background-size: 435px;
  width: 100%;
  margin: 30px 0;

  /* Set a specific height */
  height: 150px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-cookbook {
  background: url("./img/cookbook_bg.png") no-repeat;
  background-size: 435px;
  width: 100%;
  margin: 30px 0;
  height: 190px;
  /* Set a specific height */
  height: 150px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-ingredients p {
  color: white;
  font-size: 30px;
  padding-top: 50px;
}

.link-cookbook p {
  color: white;
  font-size: 30px;
  padding-top: 50px;
}

/* Layouts */
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
}

.page-wrapper-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin-top:80px;
}

.page-wrapper a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.page-header {
  color: #af4733;
}

/* Fridge */
.fridge-button {
  max-width: 110px;
  margin: 10px auto;
}

.ingredients-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
}

.ingredients-list img{
  height: 25px;
}

#icon-close{
  color: #aaa;
}


/* Diet */
.diet-select {
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 20px 0;
  border: 1px solid lightgrey;
  border-radius: 23px;
  min-width: 250px;
  margin: 5px;
  display: block;
}

.diet-header {
  font-size: 20px;
}

.diet-button {
  margin: 10px;
}

.diet-dropdown {
  margin: 10px;
}

/* Cook Book */

/* Search */
.message {
  padding-top: 5px;
  font-size: 12px;
}

.search-form {
  margin: 10px 30px;
}

.search-term {
  min-width: 200px;
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  height: 30px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.search-term:focus {
  outline: none !important;
  border: 0.5px solid #af4733;
}

.div-search {
  position: relative;
}
.div-search input {
  text-indent: 30px;
}
.div-search .icon-search {
  display: inline-block;
  width: 14px;
  position: relative;
  left: 22px;
  top: 2px;
}

.icon-search {
  color: #999;
}

.icon-search :hover {
  color: #af4733;
}

/* Recipes List  */
.recipes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-list {
  max-width: 38%;
  font-size: 10px;
  margin: 20px;
  word-wrap: break-word;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 13px 1px #999;
  -moz-box-shadow: 0px 10px 13px 1px #999;
  box-shadow: 0px 10px 13px 1px #999;
}

.recipe-list a {
  text-decoration: none;
  color: #333;
}

.icon-arrow {
  padding: 0 5px 0 0;
  color: #af4733;
}

.recipe-list h2 {
  font-size: 14px;
}

.recipe-image {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-title {
  margin: 10px 10px 0 10px;
  font-weight: bold;
  font-size: 13px;
}

.recipe-info {
  margin: 5px 10px 15px 10px;
}

#icon-heart {
  margin-left: 10px;
}

.recipe-servings {
  font-size: 12;
  font-weight: 300;
}

.icon-external-link {
  margin-right: 0px;
  color: #af4733;
  margin-left: 5px;
}

.icon-external-link:hover {
  color: #ba762e;
}

#icon-clock {
  padding: 0 1.5px 0 10px;
}

.fa-heart {
  color: #e85677;
  font-size: 16px;
}

/* Recipe Card */
.fav-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.fav-button:hover {
  cursor: pointer; 
}
.fav, .unfav {
  visibility: hidden;
}
.fav-button:hover .fav {
  visibility: visible; 
}
.fav-button:hover .unfav {
  visibility: visible; 
}



.instruction-name {
  font-weight: 600;
  font-size: 18px;
}

.recipe-container {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
}

.image-container {
  /* max-height: 200px; */
  flex: 1;
  height: 300px;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.recipe-ingredients {
  list-style-type: none;
  text-align: left;
}

.tags-container span {
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  margin: 5px;
}

span:hover {
  cursor: pointer;
}

/* Ingredients */
.ingredients-wrapper {
  display: flex;
  width: 250px;
  flex-direction: column;
  background-color: #fff;
  padding: 30px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 80%;
  margin: 20px 0;
}

.diet-intolerance-wrapper{
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 80%;
  margin: 20px 0;
}

.diet-change{
  color: #af4733;
}

/* Footer */
.footer {
  bottom: 0;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0 0 0;
  border-top: 0.7px solid #aaa;
  /* margin-top: 30px; */
  font-size: 14px;
}

.footer a {
  color: #af4733;
  margin: 3px;
  transition: ease-in, width 0.4s ease-in-out;
}

.footer a:hover {
  /* color: #f6b26b; */
  color: #af4733;
  font-size: 15px;
}

.news-wrapper header,
main,
footer {
  flex-shrink: 0;
}

#disclaimer {
  font-size: 11px;
  height: 30px;
}

#iconHeart {
  padding: 0 7px;
}

#footer-cons {
  height: 30px;
}

.caffeine {
  color: #af4733;
}
